absl-py==0.8.1
actionlib==1.11.13
angles==1.9.11
astor==0.8.0
attrs==19.3.0
backcall==0.1.0
base-local-planner==1.14.4
bleach==3.1.0
bondpy==1.8.3
cachetools==3.1.1
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.18
certifi==2019.9.11
chardet==3.0.4
controller-manager==0.13.3
controller-manager-msgs==0.13.3
controller-manager-tests==0.13.3
create-dashboard==2.3.1
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.8
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.5.50
entrypoints==0.3
gast==0.2.2
gazebo-plugins==2.5.19
gazebo-ros==2.5.19
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.8
image-geometry==1.12.8
importlib-metadata==0.23
interactive-markers==1.11.4
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kobuki-dashboard==0.5.7
laser-geometry==1.6.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
message-filters==1.12.14
mistune==0.8.4
more-itertools==7.2.0
moveit-commander==0.9.17
moveit-ros-planning-interface==0.9.17
moveit-ros-visualization==0.9.17
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
numpy==1.17.4
oauthlib==3.1.0
openni2-launch==0.4.2
opt-einsum==3.1.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pluginlib==1.11.3
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
pyan==1.0.4.dev2+gb6cd0c6
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycallgraph==1.0.1
Pygments==2.4.2
pyparsing==2.4.5
pyrsistent==0.15.5
python-dateutil==2.8.1
python-qt-binding==0.3.4
PyYAML==5.1.2
pyzmq==18.1.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
requests==2.22.0
requests-oauthlib==1.3.0
resource-retriever==1.12.5
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosapi==0.11.3
rosbag==1.12.14
rosboost-cfg==1.14.6
rosbridge-library==0.11.3
rosbridge-server==0.11.3
rosclean==1.14.6
roscreate==1.14.6
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.6
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rospy-message-converter==0.5.0
rosserial-client==0.7.7
rosserial-python==0.7.7
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.13.5
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.5.0
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rsa==4.0
rviz==1.12.17
scikit-learn==0.21.3
scipy==1.1.0
Send2Trash==1.5.0
sensor-msgs==1.12.7
six==1.13.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
srdfdom==0.4.2
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.14
tornado==6.0.3
traitlets==4.3.3
turtlebot3-example==1.2.1
turtlebot3-teleop==1.2.1
unique-id==1.0.5
urdfdom-py==0.3.3
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wiimote==1.13.0
world-canvas-server==0.2.0
world-canvas-utils==0.2.0
wrapt==1.11.2
xacro==1.11.3
zipp==0.6.0
